@font-face {
    font-family: 'trend_sansone';
    src: url('trendsansone1.eot');
    src: url('trendsansone1.eot?#iefix') format('embedded-opentype'),
         url('trendsansone1.woff2') format('woff2'),
         url('trendsansone1.woff') format('woff'),
         url('trendsansone1.ttf') format('truetype'),
         url('trendsansone1.svg#trend_sansone') format('svg');
    font-weight: normal;
    font-style: normal;

}