/*
Theme Name:   twentynineteen child theme
Description:  Write here a brief description about your child-theme
Author:       roadtrip
Author URL:   Write here the author's blog or website url
Template:     twentynineteen
Version:      9.0
License:      GNU General Public License v2 or later
License URI:  http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:  twentynineteen-child
*/

/* Write here your own personal stylesheet */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.tcsaccept span.wpcf7-list-item-label{display:none !important}
.IDNumber input , .left_field input{FONT-SIZE: 11PT!IMPORTANT;}
.choose-pack {
/*     margin-top: -60px; */
    margin-bottom: 100px;
}
.tcsaccept span.wpcf7-not-valid-tip {
    position: absolute;
    width: 200px;
    bottom: -64px;
}
html {
scroll-behavior: smooth;
}
.tcsaccept input[type="checkbox"]:checked {
    opacity: 1;
}
input[type='checkbox']:checked ~ .wpcf-list-item-label {
    display: none !important;
}
.tcsaccept input[type="checkbox"] {
    position: absolute;
    left: 0px;
    margin: 0px;
    bottom: -53px;
    width: 32px;
    height: 48px;
    border: none;
    background: transparent;
    opacity: 0;
	z-index: 999;
}
.home .choose-pack {
    margin-top: 0px;
    margin-bottom: 0px;
}
.booking_form_row {
    width: 100%;
    overflow: hidden; margin-top: 10px;
}
.filed-cover {
    overflow: hidden;
    width: 100%;
    margin-bottom: 10px;
}
.booking_form_left, .booking_form_right {
    width: 50%;
    float: left;
}
.booking_form_full textarea.wpcf7-form-control.wpcf7-textarea {
    width: 90%;
    height: 101px;
}
.booking_form_full label{font-size: 12px;
    float: left;
    width: 100%;
    font-family: 'Open Sans' !important;}
.booking_form_left label, .booking_form_right label {
    font-size: 12px;
    float: left;
    width: 100px;
    font-family: 'Open Sans' !important;
}
input.wpcf7-form-control.wpcf7-text.wpcf7-countrytext {
    display: none;
}
.booking_form_row input, .booking_form_row select {
    float: left;
    width: 60%;
    height: 40px;
    font-size: 14px;
    font-family: 'Open Sans' !important;
    padding: 0 8px 6px;
}
.filed-cover.pickup-point input {
    height: 50px;
    /* line-height: 22px; */
    /* vertical-align: top; */
}
span.wpcf7-form-control-wrap.countrycode {
    width: 171px;
    float: left;
}

span.wpcf7-form-control-wrap.countrycode select {
    width: 100%;
    border-right: none;
    border-top: rgba(0,0,0,0.2) solid thin;
    border-left: rgba(0,0,0,0.2) solid thin;
    border-bottom: rgba(0,0,0,0.2) solid thin;
}
span.wpcf7-form-control-wrap.mobile-number {
    float: left;
    width: 39%;
}
span.wpcf7-form-control-wrap.phonenumber {
    width: 50.6%;
    float: left;
}
.booking_form_row{
   
}
.selected-flag {
 
 margin-top: 14px;
}
.booking_form_row.left-label label {
    float: left;
    width: 100px;
}
span.wpcf7-form-control-wrap.phonenumber input{width:100%}
span.wpcf7-form-control-wrap.mobile-number input  {
    width: 100%;
    border-left: none;
}
.booking_form_row.left-label input {
    width: 80%;
}
.wpcf7-text::placeholder, .wpcf7-textarea::placeholder {
    font-size: 12px;
}
@font-face {
    font-family: 'trend_sansone';
    src: url('trendsansone-webfont.woff2') format('woff2'),
         url('trendsansone-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
div.wpcf7#wpcf7-f864-p848-o1 .ajax-loader {
   
   
    background-image: url(https://roadtrip.co.za/new/wp-content/uploads/2020/06/loading-png-gif.gif);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-repeat: no-repeat;
    background-size: 100%;
}
body, p, h1, h2{ font-family: 'trend_sansone' !important;}
	.choose-pack .checkbox label{padding-left: 45px; padding-bottom: 45px; MARGIN-BOTTOM: 150PX;}
p{font-family: 'trend_sansone' !important;}
.site-logo{width: 20%; float: left; position: relative; right: 0; top: 0px; text-align: center;}
.site-logo .custom-logo-link{width: 100%; border-radius: 0px !important; height: 150px;}
.site-logo .custom-logo{width: 100% !Important;}
.site-branding-container{width: 100%;}
#site-navigation{width: 55%; float: left; text-align: center;}
.text-area{width: 25%; float: left;}
.site-branding{width: 100%; margin: 0px !important;}
.site-header {background: #1c444d; padding: 30px 40px 30px 100px; height: 140px; margin-bottom: 0px;}
#media_image-2{margin-bottom: 0px;}
.main-navigation .main-menu > li > a{ font-size: 13px; color: #bdd531; padding: 0px 10px !important; line-height: 60px; letter-spacing: 0.049em; font-family: 'trend_sansone' !important; font-weight: 400;}
.text-area p{font-size: 10px;color: #bed530;font-weight: 400;margin-bottom: 0;line-height: 70px; font-family: 'trend_sansone' !important;}
.separator-line{width: 36% !important;}
.entry-header{display:  none;}
#colophon{background: #052336; padding: 60px 0px;}
#slide-1-layer-4, #slide-1-layer-6, #slide-2-layer-4, #slide-3-layer-1, #slide-4-layer-4, #slide-7-layer-4, #slide-9-layer-4, #slide-1-layer-9, #slide-7-layer-9, #slide-9-layer-9, #slide-1-layer-11{font-family: 'trend_sansone' !important;}
.social-icon img {
    padding: 0px 10px;
    border-radius: 8px;
}
.r-m img{
	width:70%;
}
#media_image-2 img{width: 50%;}
#colophon .widget-area{margin: 0px 0px 0px 90px !important;}
h1:not(.site-title)::before, h2::before{display: none;}
.widget-area h2{color: #cddb29; font-size: 24px; letter-spacing: 0.050em; margin: 0px;}
.footer-form{width: 80%;}
.footer-form .wpcf7-text, .footer-form .wpcf7-textarea{width: 100%; background: #b6c4c7; border: 1px solid #818d97; font-family: 'Open Sans', sans-serif !important; color: #75819f;font-size: 18px;}
 .footer-form .wpcf7-textarea{height: 134px;}
.footer-form p:last-child{text-align: right;}
.footer-widget-1 hr{background: #9a9a9a; height: 3px; margin-top: 4px; margin-bottom: 25px;}
#text-11{padding-top: 25px; margin-right: 0px !important; width: 23% !important;}
.site-info{display: none;}
#text-3{width: 28% !important;}
#text-4{width: 33% !important;}
#text-5{width: 28% !important; margin-top: 28px;}
#text-5 ul{display: flex; padding: 0px;}
#text-5 ul li{list-style: none; padding-right: 18px;}
.footer-form .wpcf7-submit{padding: 10px 35px; border-radius: 0; background: #bdd531; color: #1c444d; float: right; letter-spacing: 0.49em;}
.store-icon{padding: 70px 0px; text-align: center;}
.store-icon img{padding-left: 12px; width: 30%; }
.store-icon img:first-child{margin-bottom: 15px;}
.title{width: 30%; float: left;}
.des{width: 70%; float: right; font-size: 22px; color: #fff; font-weight: 100;}
.f-w p{font-weight: 400;}
.l-s-49 p{letter-spacing: 0.049em;}
.des p{margin: 0px; font-family: 'Open Sans', sans-serif !important;}
.border{border: 1px solid #1c444d;}
.r-m{margin-bottom: 0px !important;}
.b-text p{font-family: 'trend_sansone' !important; margin-top: 0px !important; font-size: 20.29px; letter-spacing: 0.049em; color: #1c444d; font-weight: 400; margin-bottom: 0px !important;}
#sec-1{margin: 0 auto;}
#sec-1 .border{width: 30.33% !important; margin: 15px 10px !important;}
.choose-text{font-family: 'trend_sansone' !important; letter-spacing: 12px;	}
.l-s{letter-spacing: 8px;}
.price{display: inline-flex;}
.price-sec .price p:first-child{font-size: 60px; color:#bed530; line-height: 50px; margin: 0px;}
.price-sec .price p:last-child{font-size: 21px; color:#bed530; line-height: 25px; margin: 0px; margin-bottom: 0px; text-align: left;}
.price-sec p {color:  #fff; font-size: 24px; margin: 0px;}
.diff-color{color:#bed530 !important;}
.p-r{position: relative; text-align: center;}
.sign_btn{position: absolute; bottom: 0; left: 0; right: 0;}
.sign_btn .vc_general{padding: 20px 75px !important; background: #bdd531 !important; border: #bdd531 !important; color: #1c444d !important; letter-spacing: 0.049em !important; font-weight: 400 !important; font-size: 24px !important;}
.main_container {
    width: 1900px;
    margin: 0 auto;
}
.on-text p{font-family: 'Open Sans' !important;}
.on-text{font-size: 24px; font-family: 'Open Sans' !important;}
.left_field{width: 50%; float: left;padding: 0px 5% 0px 15%;}
.right_field{width: 50%; float: right;padding: 0px 20% 0px 3%;}
.form_text{width: 100%; float: right;}
.right_field .wpcf7-text{float: left !important;}
.left_field .wpcf7-text, .right_field .wpcf7-text, .left_field .wpcf7-textarea {width: 100%; float: right;background: transparent; border-bottom: 1px solid #fff !important; border: none;font-size: 30px; font-weight: 400; font-family: 'Open Sans' !important; color: #1c444d; letter-spacing: 0.129em; padding: 0px;line-height: 35px; margin-bottom: 15px; height: 45px;}
.left_field .wpcf7-textarea{margin-top: 40px; height: 80px;resize: none;}
#text-3 table td{border: none;}
.form_text p, .text-align p {
    font-size: 18px;
    color: #1c444d;
    font-family: 'Open Sans' !important;
    font-weight: 600;
	letter-spacing: 0.049em;
	margin: 0px;
}
.wpcf7-text::placeholder, .wpcf7-textarea::placeholder, .collection .wpcf7-date::placeholder, .collection .wpcf7-time::placeholder{color:#1c444d !important; font-size:16px;letter-spacing:0;}
.choose-pack p{font-size: 30px; font-weight: 400; margin: 20px auto; font-family: 'Open Sans' !important; color: #1c444d; letter-spacing: 0.0129em; padding: 0px;line-height: 35px;}
.choose-pack, .right-set{float: left;}
/* The container */
.containe {
  display: block;
  position: relative;
  padding-left: 60px;
  margin-bottom: 12px;
  cursor: pointer;
  margin-right: 20px;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	color: #1c444d;
	font-weight: 400;
	letter-spacing: 0.049em;
	line-height: 50px;
	font-family: 'trend_sansone' !important;
}

/* Hide the browser's default checkbox */
.containe input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 9px;
  left: 0px;
  height: 30px;
  width: 30px;
	border: 1px solid #fff;
  background-color: transparent;
  right: -18px;
}

/* On mouse-over, add a grey background color */
.containe:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containe input:checked ~ .checkmark {
  background-color: #1c444d;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.containe input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.main_container {
    max-width: 100%;
}
.containe .checkmark:after {
  left: 10px;
  top: 2px;
  width: 10px;
  height: 20px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.f-f p{font-family: 'Open Sans' !important;}
.choose-pack{margin-bottom: 30px;}
.site-content{clear: both;}
.text-align{text-align: right;}
.sec-store-icon img{width: 25%; padding-left: 20px;}
.work_btn .vc_general{background: #bdd531 !important; color: #1c444d !important; font-family: 'trend_sansone' !important; font-size: 24.24px !important; width: 450px; font-weight: 400; letter-spacing: 0.049em;}
.work_btn .vc_general:hover, .sign_btn .vc_general:hover{background: #1c444d !important; color: #bdd531 !important;}
.choose-pack .wpcf7-list-item-label{border: 1px solid #fff; color: #fff; padding: 2px 50px; margin: 30px 30px 30px 0px;font-family: 'trend_sansone' !important; letter-spacing: 0.049em; font-weight: 400; font-size: 24px;}
.choose-pack input[type="radio"]{opacity: 0; position: absolute; width: 208px; height: 38px;}
.choose-pack .wpcf7-list-item{margin: 0px;}
.choose-pack input[type="radio"]:checked + .wpcf7-list-item-label {
background: #1c444d;
	border: none;
}
.sign-text p{color: #fff; font-size: 45px; text-align: center; line-height: 60px; margin-top: 0px;}
.sec-2-text p{font-size: 25px; font-family: 'Open Sans' !important; text-align: center; color: #1c444d; line-height: 35px; margin-top: 0px;}
#airport_transfer {
  background-size: 100%;
background-repeat: no-repeat;
	display: none;
}
.phone_img img{
	width: 100%;
	padding-left:80px;
}
.airport_text p {
    color:#fff;
    font-weight: 300;
    font-size: 45px;
	letter-spacing: 2px;
	margin:0px;
	line-height:50px;
	padding-left:190px !important;
}
.l-s-49{letter-spacing: 0.049em;}
.airport_btn .vc_general{
   height: 60px;
    width: 360px;
    background-color:#bdd531 !important;
	border: none !important;
	line-height:40px;
	padding: 0 !important;
	font-family: 'trend_sansone' !important;
	font-size:24px !important;
	color:#1c444d !important;
	letter-spacing: 0.049em;
}
#signup_banner {
    background-size: 100%;
	background-repeat: no-repeat;
}
.signup_text p {
    font-size: 35px;
    color: #fff;
    letter-spacing: 5px;
	line-height: 50px;
font-weight: 400;
}
.signup_text2 p {
    font-size: 30px;
	color:#fff;
    letter-spacing: 0.049em;
	line-height: 35px;
font-weight: 200;
}
.luxury_text p {
	color:#fff;
    font-weight: 300;
    font-size: 45px;
    letter-spacing: 2px;
    margin: 0px;
    line-height: 70px;
    padding-left: 77px !important;
}
.private{
    width: 42% !important;
}
.sedan p{
	margin-top:0px;
}
.collection-point {
    text-align: center;
}
.collection-point p {
    font-size: 20px;
    color: #002a41;
    margin: 0px;
	line-height: 27px;
}
.collection-point h4 {
    font-size: 32px;
	font-weight: 600;
	color:#002a41;
	margin:0px;
	font-family: 'Open Sans' !important;
}
.trips p {
font-size: 20px;
font-weight: 500;
color: #fff;
    margin: 0px;
    line-height: 26px;
    letter-spacing: 1px;

}
.person p {
    color: #002a41;
    font-size: 20px;
    line-height: 29px;
    margin: 0px;
}
.airport-point_btn .vc_general{
   height: 70px;
    background-color:#59757e !important;
	border: 3px solid #bdd531 !important;
	line-height:40px;
	font-family: 'trend_sansone' !important;
	padding: 0 !important;
	font-size:28px !important;
	color:#fff !important;
	letter-spacing: 0.049em;
	font-weight:500
		
}
.airport-point_btn .vc_general:hover{
	background-color:#bdd531 !important;
}
.roadtrip-app p {
    margin-bottom: 29px;
    line-height: 34px;
    color: 
    #1c444d;
    font-size: 24px;
    letter-spacing: 0.049em;
}
.main-navigation .main-menu li  a:hover{
	color:#fff;
}
#drive_page{background-size: cover!important;}

.form-drive .wpcf7-list-item-label{
	border: 1px solid #fff;
	color:#fff;
padding: 8px 90px;
margin: 30px 30px 30px 0px;
font-family: 'trend_sansone' !important;
letter-spacing: 0.049em;
font-weight: 400;
font-size: 24px;
}
.form-drive input[type="radio"]:checked + .wpcf7-list-item-label {
background: #1c444d;
	border: none;
}
.form-drive p{letter-spacing: 0.129em;}
.for-textarea .wpcf7-textarea{height: 45px; margin-top: 0px;}
.cv label{  
	padding: 5px 35px;
	background:#1c444d;
	display: inline-flex;
	color:#fff;
	height: 52px !important;
	font-size: 24px;
	font-family: 'trend_sansone' !important;
	letter-spacing: 0.049em;
}
.cv input[type="file"] {
    display: none;
}
.cv{margin-bottom: 24%;}
.m-r{margin-bottom: 45px;}
.airport_btn .vc_general:hover{background: #fff !important;}
.submit_btn{width: 100%;
position: absolute;
bottom: 0;
left: 0;
text-align: center;
background: #fff;
padding-top: 40px;}
.submit_btn .wpcf7-submit{
background:#1c444d;
border: none;
border-radius: 0px;
width: 80%;
margin: 0;
padding: 20px;
font-family: 'trend_sansone' !important;
font-size: 36px;
font-weight: 400;
letter-spacing: 0.045em;
	
}
.submit_btn .wpcf7-submit:hover{
background: #052336 !important;}
.wp-svg-facebook-2::before {
    content: "\e16a";
}
#text-4 li{list-style: none;}
#text-11  ul{padding: 0px;}
#text-11 li{display: inline-block;}
.wp-svg-instagram::before, .wp-svg-facebook-2::before, .wp-svg-linkedin::before, .wp-svg-twitter::before {
   color: #cddb29;
	font-size:50px;
	padding-right: 18px;
}
.instagram img{
	width:12%;
vertical-align: sub;
}
.text-11 ul{padding: 0px;}
.book-heading{width: 74%;
margin: 0 auto !important;}
#book-background-img{background-size:100%;width: 100% !important;}
.name{float:left;
width:50%;
padding-right: 65px;}
.collection{float:right;
width:50%;
padding-right: 35px;}
.collection .wpcf7-date, .collection .wpcf7-time{color: #1c444d; background: #efefef}
.name label, .collection label{font-size:16px !important;
color:#606060;
font-family: 'Open Sans' !important;}
.name .wpcf7-text, .collection .wpcf7-text{background:#efefef;
border: none;
width: 60%;
float: right;
height: 36px;
padding: 0px 10px;
font-size: 16px;
font-family: open sans;
font-weight: 100;
}
.collection .wpcf7-date{background:#efefef;
border: none;
	width: 60%;
	font-family: open sans;
float: right;
	font-size: 16px;
height: 36px;
	font-weight: 100;
padding: 0px 10px;}
.collection input[type=time]{background:#efefef;
border:none !important;
	width: 60%;
	font-weight: 100;
	font-family: open sans;
float: right;
	color:#1c444d;
	font-size: 16px;
height: 36px;
padding: 0px 10px;}
.form-booking{width:100%;
display:inline-block;
	padding: 50px 0px;}
.form-booking select {
    width: 60%;
    float: right;
    border: #efefef solid thin;
    background: #efefef;
    font-size: 14px;
    height: 35px;
    font-family: 'Open Sans' !important;
    font-weight: 400;
}
.form-booking ::-webkit-input-placeholder , .form-booking ::-moz-placeholder , .form-booking :-ms-input-placeholder , .form-booking :-moz-placeholder  { 
	font-size:10px !important;
}

.form-booking p{margin: 5px auto;}
.booking_btn .wpcf7-submit{background-color:#bed630;
width: 70%;
height: 75px;
font-size: 30px;
color:#002237;
font-family: 'trend_sansone' !important;
font-weight:200;
border-radius:0px;}
.booking_btn .wpcf7-submit:hover{background-color:#1d444d;
color:#fff;}
.booking_btn{margin-top:25px;}
.name .wpcf7-date{background:transparent;
	border: none;
	width: 60%;
float: right;
border-bottom: 1px solid #fff;
height: 36px;
padding: 0px;
color:#5f5f5f;}
.name input[type=time]{background:transparent;
border:none !important;
	width: 60%;
float: right;
border-bottom: 1px solid #fff !important;
height: 36px;
padding: 0px;
color:#929c9e;}
.change-look{width: 80%; top: 10%; }
.change-look .modal-content{height: 800px; background: #58757d;}
.change-look .modal-body{position: absolute; left: 0; right: 0; top: 50%; text-align: center;}
#text-4{
	color: #fff;
}
#text-4 ul{padding: 0px;}
#text-4 a{width: 68%; line-height: 25px; float: right; font-size: 20px; letter-spacing: 0.049em; color: #fff; font-family: open sans;}
.area a{margin-top: -35px;}
.containe a{color: #1c444d;}
/****************BOOKFORM 2*******************************/
/* .l-sec{width: 50%; float: left;}
.r-sec{width: 50%; float: right;} */
.label-sec label{width: 55%;}
.label-sec label, .span-sec p{font-size: 20px; font-family: open sans !important; color: #606060; line-height: 35px; }
.bg{ font-weight: 100; }
#label_id {margin-bottom: 0px !important;}	
#for_re_padding .wpb_wrapper{margin: 0 auto; width: 80%;}

.private_page_Content{
	text-align: center;
	color: #1c444d;
	font-size: 22px;
}
.private_page_Content span{
	font-weight:bolder;
}
.private_page_thin_content{
font-size: 44px;
    font-weight: 100!important;
    font-family: 'Open Sans' !important;}

.heading_bottom{
	position:relative;
	padding-bottom:30px;
}
.heading_bottom:after{
	position: absolute;
    content: '';
    border-bottom: 1px solid #1c444d;
    background: #1c444d;
    width: 1300px;
    height: 1px;
    bottom: 0px;
    left: 16%;
    right: 50%;
}
.private_numbers{
	width:max-content;
	font-size:60px;
	letter-spacing:2px;
	width: 110px;
    line-height: 100px;
    height: 110px;
	border-radius:50%;
	border:3px solid #bed531;
	color:#bed531;
	text-align:center;
	margin:0 auto;
	font-family: 'Open Sans', sans-serif!important;
}
.number_heading{
	color:#1c444d;
	text-align:center;
	font-weight:bold;
	font-family: 'Open Sans', sans-serif;
	font-size:30px;
}
.bracket_content{
	font-weight:normal;
	color:#7c7d7d;
	font-family: 'Open Sans', sans-serif;
	text-align:center;
	font-size:20px;
	font-family: 'Open Sans', sans-serif !important;
}
.row_width{
	width:70%;
	margin:0 auto!IMportant;
}
.point {
	FLOAT: LEFT;
    padding-left: 30px;
    font-size: 150px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 50px;
	line-height:0.3;
    color: #bdd531;
	margin-bottom:50px;
}
.point_span{
	font-size:40px;
	color:white;
	font-family: 'Open Sans', sans-serif !important;
}
.private_function input[type="text"], .private_function input[type="email"], .private_function input[type="url"], .private_function input[type="password"], .private_function input[type="search"], .private_function input[type="number"], .private_function input[type="tel"], .private_function input[type="range"], .private_function input[type="date"], .private_function input[type="month"], .private_function input[type="week"], .private_function input[type="time"], .private_function input[type="datetime"], .private_function input[type="datetime-local"], .private_function input[type="color"], .private_function textarea{
	width:600px!important;
	height:70px;
	font-family: 'Open Sans', sans-serif;
    font-weight:300;
    FONT-SIZE: 30px!IMPORTANT;
}
.private_function input[type="submit"]{
	background: #052336;
	color: #bdd531!important;
	border-radius: 0;
/* 	padding: 10px 40px!important; */
 	float: right;
	width: 160px!important;
margin-right: 5%!important;
margin-top: 4%;
}
.private_function input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required{
	font-family: 'Open Sans', sans-serif;
	color:#606161!important;
}
.label_Width{
	width: 50%;
margin: 0 30px 20px 30px;
}
.time_content{font-family: 'Open Sans', sans-serif !important}
.time_subcontent{font-family: 'Open Sans', sans-serif !important}
.time{
	float: LEFT;
}
.time img {
	width:170px;
}
.cost_content{
	color: #000;
    font-family: 'Open Sans' !important;
    font-size: 28px;
    font-weight: lighter;
}
#on-roadtrip-classic-content{
	padding-left:60px;
	padding-right:60px;
}
.driver .cv{
	margin-bottom:40%;
}
/**************** 100% ***********************/

/***************HOME PAGE**********************/
span.wpcf7-not-valid-tip {
    font-size: 12px !important;
    line-height: 14px;
    position: relative;
    clear: both;
	float: left;font-family: 'Open Sans' !important;}
@media only screen and (max-width: 1730px) and (min-width: 1310px){
	.wpcf7-text::placeholder, .wpcf7-textarea::placeholder, .collection .wpcf7-date::placeholder, .collection .wpcf7-time::placeholder{color:#1c444d !important; font-size:15px;letter-spacing:0;}
	span.wpcf7-not-valid-tip {
    font-size: 13px !important;
    line-height: 14px;
    position: relative;
    clear: both;
    float: left;
}
	.choose-pack .wpcf7-list-item-label{padding: 2px 30px !important; font-size: 20px !important;}
	.choose-pack p{font-size: 24px !important;}
	.right_field{    padding: 0px 15% 0px 3% !important;}
	.left_field{    padding: 0px 5% 0px 13% !important;}
	div.wpcf7-validation-errors{font-size: 14px !important; border: none !important;}
.site-header {
padding: 25px 20px 21px 16px;
}
	#book-background-img{padding-top: 5px !important;}	
#site-navigation {
	width: 55%;
	text-align:center;
	}	
	#media_image-2{margin-bottom: 0px;}
	.name .wpcf7-text, .collection .wpcf7-text{font-size: 12px !important;}
	.sedan-col .vc_column-inner{padding-right: 0px !important;
padding-left: 35px !important;
		padding-top: 0px !important;
}
	.luxury-col .vc_column-inner{padding-right: 45px !important;
		padding-left: 46px !important;
	padding-top: 20px !important;}
	.van-col .vc_column-inner{padding-right: 60px !important;
padding-left: 30px !important;
	padding-top: 0px !important;}
	.collection-point{padding-bottom: 17px !important;}	
.main-navigation .main-menu li a {
	padding: 0px 6px !important;
	line-height:25px;}
	.padding-bottom{padding-bottom: 52px !important;}
	.all-cars{padding-top: 27px !important;}
.text-area p{line-height:40px;}
.text-area {
    width: 25%;
    float: left;
    text-align: right;
}	
	.textwidget ul a{font-size: 40px; color: #fff;}
	.textwidget .facbook::before, .textwidget .linkdin::before{font-size:25px;}
	.textwidget .twitter::before{font-size:45px;}
	.instagram img {
		width: 11%;}
	.textwidget li {
		padding-right: 0px;}
	.trips p{font-size: 9px; line-height: 14px;}	
	.trips, .person{padding-top: 5px !important; padding-bottom: 10px !important;}
	.form-booking{padding: 0px !important;}
.site-header {
    margin-bottom: 0px;
}
	.airport-point_btn .vc_general {
    height: 48px;
		font-size:19px !important;
		line-height: 40px !important;
	}
	.book-heading{padding-bottom: 0px !important;}
	.person p {
font-size: 10px;
		line-height: 16px;}
	.heading-sedan, .p-font{font-size:21px !important;}
#rev_slider_1_1_wrapper, #rev_slider_1_1{
		height: 680px !important;
	}
.tp-revslider-slidesli {
		height: 680px !important;
	}	
#rev_slider_1_1 .tp-bgimg 
	{background-size:100% !important;}
#slide-1-layer-6{font-size: 50px !important;
line-height: 0px !important;}
.safe-text{
top: 310px !important;}	

.home-pimg{
	left: 110px !important;
     top: 114px !important;}
.site-header {height:100px;
	}
#sec-1 .border {
    width: 31.33% !important;
    margin: 6px 4px !important;
}	
.choose-text {
    letter-spacing: 7px;	
	}
#text-4 {
    width: 30% !important;
}
#text-11 {
    width: 29% !important;
}	
	
	.b-text p{line-height: 25px; font-size: 15px;}
	.f-f p, .on-text, .form_text p, .text-align p{font-size: 12px !important;}
	.right_field .wpcf7-text, .left_field .wpcf7-textarea{font-size: 24px !important;}
	.trip_text{font-size: 20px !important;}
	.banner_title{font-size: 55px !important;}
	.signup_text{margin-bottom: 10px !important;}
	.signup_text P{    font-size: 20px !important;
    line-height: 28px;
    letter-spacing: 3px;}
	.l-s {
    letter-spacing: 2px !important;
}
	.luxury_text{padding-right: 70px !important;}
	.luxury_text p{font-size: 20px !important; line-height: 35px !important;}
	.p-r h2{line-height: 65px !important;}
	.p-r{padding-right: 4px !important;}
	#signup_banner, #airport_transfer{padding: 0px !important;}
	.signup_text2 {padding-top: 0px !Important;}
	.signup_text2 P{line-height: 30px;}
	.sign-text p{font-size: 38px !important;}
	.sec-2-text p{font-size: 20px !important;}
	.airport_btn{padding-right: 200px !important;}
	.airport_btn .vc_general{width: 300px !important; height: 50px !important;line-height: 50px !important;}
	.l-p-r{font-size: 55px !important; line-height: 60px !important; padding-left: 90px !important;     padding-top: 170px !important;}
	.padding{padding-left: 260px !important;padding-bottom: 95px !important;padding-top: 30px !important;}
	.luxury-inner_img img{width: 80% !important;}
	.collection-point p{font-size: 12px !important;line-height: 16px !important;}
	.collection-point h4{font-size: 18px !important;}
	.phone_img img{width: 85% !important; padding-top: 80px;}
	.title_padding{padding-left: 190px !important;padding-top: 70px !important;}
	.airport_text{padding-left: 25px !important;}
	.airport_text p{font-size: 32px !important; line-height: 35px; letter-spacing: 0.075em;}
	#airport_transfer .airport_btn{padding-top: 50px !important; padding-left: 260px !important;}
	#private_function .airport_btn{padding-top: 50px !important; padding-left: 200px !important;}
	.fill_out{font-size: 34px !important;padding-left: 170px !important;padding-right: 158px !important;}
	.page-id-1830 .fill_out{font-size:30px!important;}
	.private_page_Content{font-size:15px;}
	.private_page_thin_content{font-size:32px;}
	.heading_bottom{font-size:30px;}
	.heading_bottom:after{width:60%;left: 0;right: 0;margin: 0 auto;}
	.private_numbers{font-size: 40px;    border: 1px solid #bed531;   letter-spacing: 1px;    width: 80px;    line-height: 72px;    height: 80px;}
	.number_heading{font-size:23px;line-height:30px;}
	.bracket_content{font-size:18px;font-weight: lighter;}
	.time_content{font-family: 'Open Sans', sans-serif !important;font-size:25px;margin:0;}
	.time_subcontent{font-family: 'Open Sans', sans-serif !important;font-weight:lighter;line-height: 24px;padding-bottom:10px;font-size:18px;}
	.point{width:50%;padding-left:0;text-align:center;font-size:100px;line-height:50px;margin-top:0;}
	.time{width:50%;margin-top:-20px;text-align:center;}
	.time img{width:130px;}
	.point_span{font-weight: lighter;}
	.cost_content{font-size:20px;}
	.form_head{font-size: 35px!important;color: #bdd531;    text-align: center;    letter-spacing: 2px;    font-weight: 500;}
	.private_function input[type="text"], .private_function input[type="email"], .private_function input[type="url"], .private_function input[type="password"], .private_function input[type="search"], .private_function input[type="number"], .private_function input[type="tel"], .private_function input[type="range"], .private_function input[type="date"], .private_function input[type="month"], .private_function input[type="week"], .private_function input[type="time"], .private_function input[type="datetime"], .private_function input[type="datetime-local"], .private_function input[type="color"], .private_function textarea {
    width:100%!important;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    FONT-SIZE: 20px!IMPORTANT;
}
	.private_function input[type="submit"] {margin-right:0!important;margin-top:0;padding: 10px 40px !important;}
	.form-drive .wpcf7-list-item-label{font-size: 20px !important; padding: 2px 65px;}
	.cv label{font-size: 20px !important;}
	.social-icon img{width: 15% !important;}
.fillin-heading{
padding-top: 55px;}
.separator-line{
    width: 60% !important;
}
.name label, .collection label, .collection input[type=time] {
	font-size: 12px !important;}
.name {
    padding-right: 25px;
}
	.collection {
    padding-right: 0px;
	}
	.collection .wpcf7-date{font-size:12px;}
	

	#slide-9-layer-4{font-size: 50px !important; line-height: 70px !important;}
	.luxary-img{top: 150px !important; left: 795px !important;}
	.booking_btn .wpcf7-submit {
		width: 70%;
	font-size: 18px !important;
	height:50px !important;}
	.airport-title{top: 110px !important; left: 250px !important;}
	.padding-bottom{padding-bottom: 60px !important;}
	#slide-7-layer-1 img, #slide-9-layer-1 img{width: 430px !important;
	height: 450px !important;}
	.airport-img{top: 70px !important; left: 840px !important; }
	.checkbox label{padding-right: 45px !important;}
	.area a {
    margin-top: -30px !important;}
	#text-4 a{width: 55% !important; font-size: 14px !important;}
	#text-4 li, #text-4 h4{font-size: 16px !important;}
	.footer-form p{margin: 5px 0px;}
	.footer-form .wpcf7-text{height: 35px;}
	.footer-form .wpcf7-submit{font-size: 14px; padding: 8px 20px !important;}
	.footer-form .wpcf7-textarea {
    height: 115px;margin: 8px auto;}
	.wp-svg-instagram::before, .wp-svg-facebook-2::before, .wp-svg-linkedin::before, .wp-svg-twitter::before{font-size: 40px;}
	.r-m{padding-top: 15px !important;}
	.r-m img {
    width: 50% !important;
}
	.text-align .vc_column-inner{padding-right: 100px !important;}
	#colophon{padding: 30px 0px 0px 0px !important;}
	.set-padding .r-m{padding-bottom: 15px !important;}
	 .s-p-2 .r-m{padding-bottom: 15px !important;}
	.s-p-2 .vc_column-inner{padding-bottom: 10px !important;}
	 .s-p-3 .r-m{padding: 35px 0px 45px 0px !important;}
	#set-width{padding-left: 160px !important; padding-right: 160px !important; padding-top: 0px !important;}
	.s-p-4 .r-m{padding-left: 0px !important; padding-right: 0px !important;}
	.s-p-5 .r-m{padding-bottom: 25px !important;}
	.change-look .modal-content{height: 500px !important;}
	.change-look .modal-body{top: 40% !important;}
	.sedan-col .vc_column-inner{padding-left: 52px !important; padding-right: 30px !important;}
	#text-4, #text-3{margin-right: 54px !important;}
	#text-5 ul li{padding-right: 0px !important;}
	/************************bookingform 2********************************/
	.label-sec label, .span-sec p{font-size: 18px !important; line-height: 27.2px !important;}
	.span-sec{margin-bottom: 10px !important;}
}



/******************************* Resposive - CSS ************************************/
@media only screen and (max-width: 1350px) {
#sec-1 .border {
    margin: 15px 9px !important;
}
.choose-text {
	font-size: 28px !important;
}
#colophon .widget-column .widget {
    margin-right: calc(3 * 10px) !important;
}	
#text-4 a {
    width: 50% !important;
    font-size: 16px !important;	
}
#text-4 li {
    font-size: 19px !important;
}
#the-roadtrip-app-content h2 {
    font-size: 32px !important;
}
#slide-9-layer-4 {
    margin-top: -40% !important;
    margin-left: 11% !important;
}
.form-drive .wpcf7-list-item-label {
    padding: 8px 90px 0;
}
.main-navigation .main-menu > li > a {
    padding: 0px 5px !important;
}
.site-header {
    padding: 33px 10px 6px 10px;
}
#page .vc_custom_1582805788655 {
    padding-right: 50px !important;
    padding-left: 50px !important;
}
	.vc_custom_1582965846603 {
    padding-top: 60px !important;
}
	.page-id-1830 .fill_out{font-size:30px!important;letter-spacing:2px;}
	.page-id-1830 .l-s{padding:0 140px!important;}
	.private_page_Content{font-size:15px;}
	.private_page_thin_content{font-size:32px;}
	.heading_bottom{font-size:30px;}
	.heading_bottom:after{width:60%;left: 0;right: 0;margin: 0 auto;}
	.private_numbers{font-size: 40px;    border: 1px solid #bed531;   letter-spacing: 1px;    width: 80px;    line-height: 72px;    height: 80px;}
	.number_heading{font-size:23px;line-height:30px;}
	.bracket_content{font-size:18px;font-weight: lighter;}
	.time_content{font-family: 'Open Sans', sans-serif !important;font-size:25px;margin:0;}
	.time_subcontent{font-family: 'Open Sans', sans-serif !important;font-weight:lighter;line-height: 24px;padding-bottom:10px;font-size:18px;}
	.point{width:50%;padding-left:0;text-align:center;font-size:100px;line-height:50px;margin-top:0;}
	.time{width:50%;margin-top:-20px;text-align:center;}
	.time img{width:130px;}
	.point_span{font-weight: lighter;}
	.cost_content{font-size:20px;}
	.form_head{font-size: 33px!important;color: #bdd531;    text-align: center;    letter-spacing: 2px;    font-weight: 500;}
	.private_function input[type="text"], .private_function input[type="email"], .private_function input[type="url"], .private_function input[type="password"], .private_function input[type="search"], .private_function input[type="number"], .private_function input[type="tel"], .private_function input[type="range"], .private_function input[type="date"], .private_function input[type="month"], .private_function input[type="week"], .private_function input[type="time"], .private_function input[type="datetime"], .private_function input[type="datetime-local"], .private_function input[type="color"], .private_function textarea {
    width:100%!important;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    FONT-SIZE: 20px!IMPORTANT;
}
	.private_function input[type="submit"] {margin-right:0!important;margin-top:0;padding: 10px 40px !important;}
}
@media only screen and (max-width: 1279px) {
	.label-sec label, .span-sec p{font-size: 16px !important;line-height: 25px !important;}
#set-width {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
	.booking_form_row input, .booking_form_row select{width: 90%;}
#the-roadtrip-app-content .vc_custom_1583152403544 {
    padding-right: 0px !important;
}
	.booking_form_row.left-label input {
    width: 95%;
}
	.booking_form_row.left-label label{width: 10%;}
	span.wpcf7-form-control-wrap.countrycode{width: 34%;}
	span.wpcf7-form-control-wrap.phonenumber{width: 50%;}
	.filed-cover label{width: 100% !important;}
#text-5 ul li {
    padding-right: 0px !important;
}
#text-4 li {
    font-size: 16px !important;
}
#text-4 a {
    font-size: 14px !important;
}
.left_field span input {
    font-size: 16px !important;
}
.left_field .wpcf7-textarea {
	font-size: 16px !important;	
}
.right_field span input {
    font-size: 16px !important;
}
.vc_custom_1582787473752 {

/*     padding-top: 0px !important;
    padding-bottom: 0px !important; */
    background-size: cover !important;
    background-repeat: no-repeat !important;}
	.page-id-1830 .fill_out{font-size:25px!important;letter-spacing:2px;}
	.page-id-1830 .l-s{padding:0 120px!important;}
	.private_page_Content{font-size:13px;}
	.private_page_thin_content{font-size:27px;}
	.heading_bottom{font-size:25px;}
	.heading_bottom:after{width:60%;left: 0;right: 0;margin: 0 auto;}
	.private_numbers{font-size: 35px;    border: 1px solid #bed531;   letter-spacing: 1px;    width: 70px;    line-height: 62px;    height: 70px;}
	.number_heading{font-size:20px;line-height:30px;font-weight:normal!important;}
	.bracket_content{font-size:18px;font-weight: lighter;}
	.time_content{font-family: 'Open Sans', sans-serif !important;font-size:18px;margin:0;}
	.time_subcontent{font-family: 'Open Sans', sans-serif !important;font-weight:lighter;line-height: 24px;padding-bottom:10px;font-size:14px;}
	.point{width:50%;padding-left:0;text-align:center;font-size:85px;line-height:40px;margin-top:0;}
	.time{width:50%;margin-top:-20px;text-align:center;}
	.time img{width:130px;}
	.point_span{font-weight: lighter;font-size:30px;}
	.cost_content{font-size:15px;}
	.form_head{font-size: 25px!important;color: #bdd531;    text-align: center;    letter-spacing: 2px;    font-weight: 500;}
	.private_function input[type="text"], .private_function input[type="email"], .private_function input[type="url"], .private_function input[type="password"], .private_function input[type="search"], .private_function input[type="number"], .private_function input[type="tel"], .private_function input[type="range"], .private_function input[type="date"], .private_function input[type="month"], .private_function input[type="week"], .private_function input[type="time"], .private_function input[type="datetime"], .private_function input[type="datetime-local"], .private_function input[type="color"], .private_function textarea {
    width:100%!important;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    FONT-SIZE: 20px!IMPORTANT;
}
	.private_function input[type="submit"] {margin-right:0!important;margin-top:0;padding: 10px 40px !important;}
	.page-id-1830 #drive_page {
    background: no-repeat;
    background-size: cover!important;
}
}
@media only screen and (max-width: 990px) { 
	.book-heading{width: 90% !important;}
	#book-background-img {
		left: 15px !important;}
	#text-2{margin-bottom: 0px;}
.choose-pack .wpcf7-list-item-label {
    padding: 2px 50px 0 0 !important;
}
.left_field span input {
    font-size: 16px !important;
}
	.main-navigation .main-menu > li > a {
    padding: 0px 3px !important;
}
#text-3{
    width: 100% !important;
}
#text-4 {
	width: 100% !important;
}
	#text-4 h4{
		    text-align: center;
	}
#text-5 {
    width: 100% !important;	
}
#text-4 li {
    font-size: 19px !important;
}
#text-4 a {
    font-size: 20px !important;
}
#colophon .widget-column .widget {
    margin-right: calc(3 * 30px) !important;
}
.left_field .wpcf7-textarea {
	font-size: 16px !important;	
}
.right_field span input {
    font-size: 16px !important;
}
.form_text p, .text-align p {
    font-size: 16px !important;
}
	
#classic-deluxe-section .vc_col-sm-6 {
    width: 100% !important;
}
.site-header {
    padding: 5px 10px 15px 10px !important;
    height: 140px !important;
}
.site-branding {
    width: 100% !important;
    margin: 0px !important;
}
#media_image-2 {
    margin: 0 !important;
}
#site-navigation {
    width: 100% !important;
	float: none !important;
    text-align: right !important;
}
.text-area {
    width: 100% !important;
    float: right !important;
    text-align: right !important;
    margin-right: 2% !important;
}
.site-logo img {
    width: 80% !important;
    position: absolute !important;
    left: 5px !important;
    margin-top: 18% !important;
}
.tp-parallax-wrap.sing-btn {
    left: 323px !important;
}
.tp-parallax-wrap.airport-book {
    left: 93px !important;
}
	.page-id-1830 .fill_out{font-size:23px!important;letter-spacing:2px;}
	.page-id-1830 .l-s{padding:0 10px!important;}
	.private_page_Content{font-size:13px;padding:0 20px;}
	.private_page_thin_content{font-size:21px;}
	.heading_bottom{font-size:25px;}
	.heading_bottom:after{width:60%;left: 0;right: 0;margin: 0 auto;}
	.private_numbers{font-size: 35px;    border: 1px solid #bed531;   letter-spacing: 1px;    width: 70px;    line-height: 62px;    height: 70px;}
	.number_heading{font-size:17px;line-height:21px;font-weight:normal!important;}
	.number_heading_main{margin:25px!important;}
	.bracket_content{font-size:18px;font-weight: lighter;}
	.row_width {width: 90%;}
	.time_content{font-family: 'Open Sans', sans-serif !important;font-size:16px;margin:0;}
	.time_subcontent{font-family: 'Open Sans', sans-serif !important;font-weight:lighter;line-height: 20px;padding-bottom:10px;font-size:14px;}
	.point{width:50%;padding-left:0;text-align:center;font-size:75px;line-height:35px;margin-top:-12px;}
	.time{width:50%;margin-top:-30px;text-align:center;}
	.time img{width:130px;}
	.point_span{font-weight: lighter;font-size:25px;}
	.cost_content{font-size:14px;}
	.form_head{font-size: 23px!important;color: #bdd531;    text-align: center;    letter-spacing: 2px;    font-weight: 500;}
	.private_function input[type="text"], .private_function input[type="email"], .private_function input[type="url"], .private_function input[type="password"], .private_function input[type="search"], .private_function input[type="number"], .private_function input[type="tel"], .private_function input[type="range"], .private_function input[type="date"], .private_function input[type="month"], .private_function input[type="week"], .private_function input[type="time"], .private_function input[type="datetime"], .private_function input[type="datetime-local"], .private_function input[type="color"], .private_function textarea {
    width:100%!important;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    FONT-SIZE: 18px!IMPORTANT;
}
	.private_function input[type="submit"] {margin-right:0!important;margin-top:0;padding: 10px 40px !important;}
	.page-id-1830 #drive_page {
    background: no-repeat;
    background-size: cover!important;
}
}
@media only screen and (max-width:767px){
	.responsive_class{
		padding-left:30px!important;
		padding-right:30px!important;
	}
	.responsive_package h2{
		font-size:25px!important;
	}
	.responsive_package .price-sec .price p:first-child{
		font-size:45px!important;
	}
	.text-align p {
		padding:0 20px!important;
	}
	.roadtrip-app p br{
		display:none!important;
	}
	.discovery_heading h2{font-size:40px!important;letter-spacing:0!important;line-height:60px!important;}
	#discovery_content{padding-right:30px!important;padding-left:30px!important;}
	#discovery_content p{font-size: 18px;}
	#discovery_content h4{font-weight: 500!important;font-size: 24px;}
	.discover_form_main h2{padding-left:30px!important;padding-right:30px!important;letter-spacing:2px!important;}
	.discover_form_main .right_field, .discover_form_main .left_field{width:100%!important;padding-left: 30px!important;padding-right: 30px!important;}
	.discover_form_main .right_field .right-set {float: none!important;}
	.discover_form_main .choose-pack .checkbox label{margin-bottom:0!important;}
	.discover_form_main .inner_row{padding-top:10px!important;}
	.discover_form_main div.wpcf7-mail-sent-ok, .discover_form_main div.wpcf7-validation-errors {color: #052336!important; font-size: 15px;position:relative;bottom:150px;}
	.discover_form_main .tcsaccept span.wpcf7-not-valid-tip{width:300px!important;}
	span.wpcf7-not-valid-tip{width:100%!important;}
}
@media only screen and (max-width: 600px) {
	#once-off-joining-content ul li{
		font-size:15px;
	}
	.price-sec .price p:first-child{
		font-size:50px;
	}	
#sec-1 .border {
    width: 100% !important;
}
.tp-parallax-wrap.sing-btn {
    left: 206px !important;
}
ul#menu-top-menu {
    display: none;
}
#site-navigation {
    display: none !important;
}
.site-header {
    height: 100px !important;
}
/* .text-area {
    margin-right: 15% !important;
} */
.left_field {
    width: 100% !important;
    float: none !important;
    padding: 0px 5% 0px 5% !important;
}
.right_field {
    width: 100% !important;
    float: none !important;
    padding: 0px 5% 0px 5% !important;
}
.choose-pack, .right-set {
    float: none!important;
}
.checkmark {
    top: 5% !important;
    right: -18px !important;
}
	.checkbox{display:inline-block;}
	.page-id-1830 .fill_out{font-size:20px!important;letter-spacing:0px;}
	.page-id-1830 .l-s{padding:0 10px!important;}
	.private_page_Content{font-size:13px;padding:0 20px;}
	.private_page_thin_content{font-size:17px;padding:0;}
	.heading_bottom{font-size:22px;padding-left:20px;padding-right:20px;}
	.heading_bottom:after{width:60%;left: 0;right: 0;margin: 0 auto;}
	.private_numbers{font-size: 35px;    border: 1px solid #bed531;   letter-spacing: 1px;    width: 70px;    line-height: 62px;    height: 70px;}
	.number_heading{font-size:20px;line-height:21px;font-weight:normal!important;}
	.number_heading br{display:none;}
	.number_heading_main{margin:25px!important;}
	.bracket_content{font-size:18px;font-weight: lighter;}
	.row_width {width: 90%;}
	.time_content{font-family: 'Open Sans', sans-serif !important;font-size:16px;margin:0;}
	.time_subcontent{font-family: 'Open Sans', sans-serif !important;font-weight:lighter;line-height: 20px;padding-bottom:10px;font-size:14px;}
	.point{width:50%;padding-left:0;text-align:left;font-size:80px;line-height:40px;margin-top:30px;padding-left:20px;margin-bottom:30px!important;}
	.time{width:50%;margin-top:0px;text-align:right;}
	.time img{width:130px;}
	.point_span{font-weight: lighter;font-size:25px;}
	.cost_content{font-size:14px;padding:0 20px;}
	.cost_content br{display:none;}
	.form_head{font-size: 20px!important;color: #bdd531;    text-align: center;    letter-spacing: 0px;    font-weight: 500;}
	.label_Width{margin: 0 0 20px 0;    width: 100%;}
	.private_function input[type="text"], .private_function input[type="email"], .private_function input[type="url"], .private_function input[type="password"], .private_function input[type="search"], .private_function input[type="number"], .private_function input[type="tel"], .private_function input[type="range"], .private_function input[type="date"], .private_function input[type="month"], .private_function input[type="week"], .private_function input[type="time"], .private_function input[type="datetime"], .private_function input[type="datetime-local"], .private_function input[type="color"], .private_function textarea {
    width:100%!important;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    FONT-SIZE: 15px!IMPORTANT;
}
	.private_function input[type="submit"] {margin-right:0!important;margin-top:0;padding: 10px 40px !important;}
	.page-id-1830 #drive_page {
    background: no-repeat;
    background-size: cover!important;
}
	._block{display:block!important;margin-bottom:20px;}
	.banner_title{font-size:30px!important;line-height:40px!important;letter-spacing:1px;}
}
@media only screen and (max-width: 500px) and (min-width: 350px){
button#responsive-menu-button {
    width: 45px !important;
    height: 45px !important;
}
.site-logo img {
    width: 100% !important;
}
.text-area {
/*     margin-right: 20% !important; */
    margin-top: 5% !important;
}
#sing-up .wpcf7-form-control.wpcf7-submit {
	font-size: 20px !important;
}
#the-roadtrip-app-content .work_btn .vc_general {
    font-size: 20px !important;
    width: 100% !important;
}
#the-roadtrip-app-content {
	padding-right: 15px !important
}
#colophon .widget-column .widget {
    margin-right: 0px !important;
}
#colophon .widget-area {
    margin: 0px 15px 0px 15px !important;
}
#text-4 a {
    font-size: 14px !important;
}
.tp-parallax-wrap.sing-btn {
    left: 32% !important;
}
#slide-1-layer-9 {
    font-size: 16px !important;
	line-height: 20px !important;
}
#slide-9-layer-9 {
    font-size: 16px !important;
	line-height: 20px !important;
}
#slide-7-layer-9 {
    font-size: 16px !important;
	line-height: 20px !important;
}
.tp-parallax-wrap.luxary-book {
	left: 8% !important;
}
.tp-parallax-wrap.airport-book {
    left: 10% !important;
}
.responsive-menu-inner {
    margin-top: -6px !important;
}
.text-area p {
    font-size: 10px !important;
}
	.store-icon{
		text-align:center!important;
	}
	.page-id-1830 .fill_out{font-size:18px!important;letter-spacing:0px;line-height:35px!important;}
	.page-id-1830 .fill_out br{display:none;}
	.page-id-1830 .l-s{padding:0 10px!important;}
	.banner_title{font-size:30px!important;line-height:40px!important;letter-spacing:1px;}
	.private_page_Content{font-size:14px;padding:0 20px;text-align:justify;}
	.private_page_Content br{display:none;}
	.private_page_Content strong{font-weight:normal!important;}
	.private_page_thin_content{font-size:17px;padding:0 20px;}
	.heading_bottom{font-size:18px;padding-left:20px;padding-right:20px;}
	.heading_bottom:after{width:60%;left: 0;right: 0;margin: 0 auto;}
	.private_numbers{font-size: 35px;    border: 1px solid #bed531;   letter-spacing: 1px;    width: 70px;    line-height: 62px;    height: 70px;}
	.number_heading{font-size:20px;line-height:21px;font-weight:normal!important;}
	.number_heading br{display:none;}
	.number_heading_main{margin:25px!important;}
	.bracket_content{font-size:18px;font-weight: lighter;}
	.row_width {width: 95%;}
	.time_content{font-family: 'Open Sans', sans-serif !important;font-size:16px;margin:0;}
	.time_subcontent{font-family: 'Open Sans', sans-serif !important;font-weight:lighter;line-height: 20px;padding-bottom:10px;font-size:14px;}
	.time_subcontent br{
		display:none;
	}
	.point{width:50%;padding-left:0;text-align:left;font-size:80px;line-height:40px;margin-top:30px;padding-left:20px;margin-bottom:30px!important;}
	.time{width:50%;margin-top:0px;text-align:right;}
	.time img{width:130px;}
	.point_span{font-weight: lighter;font-size:25px;}
	.cost_content{font-size:14px;padding:0 20px;}
	.form_head{font-size: 18px!important; line-height:35px; color: #bdd531;    text-align: center;    letter-spacing: 0px;    font-weight: 500;}
	.private_function input[type="text"], .private_function input[type="email"], .private_function input[type="url"], .private_function input[type="password"], .private_function input[type="search"], .private_function input[type="number"], .private_function input[type="tel"], .private_function input[type="range"], .private_function input[type="date"], .private_function input[type="month"], .private_function input[type="week"], .private_function input[type="time"], .private_function input[type="datetime"], .private_function input[type="datetime-local"], .private_function input[type="color"], .private_function textarea {
    width:100%!important;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    FONT-SIZE: 15px!IMPORTANT;
}
	.private_function input[type="submit"] {margin-right:0!important;margin-top:0;padding: 10px 40px !important;}
	.page-id-1830 #drive_page {
    background: no-repeat;
    background-size: cover!important;
}
}
@media only screen and (max-width:500px){
	.discovery_heading h2{font-size:35px!important;letter-spacing:0!important;line-height:55px!important;}
	#discovery_content{padding-right:30px!important;padding-left:30px!important;}
	#discovery_content p{font-size: 16px;}
	#discovery_content h4{font-weight: 500!important;font-size: 22px;line-height: 35px!important;}
	.discover_form_main h2{letter-spacing: 0px!important;font-size: 30px!important;padding-left:0!important;padding-right:0!important;}
}
@media only screen and (max-width:400px){

		.page-id-1830 .fill_out{font-size:18px!important;letter-spacing:0px;line-height:35px!important;}
	.page-id-1830 .fill_out br{display:none;}
	.page-id-1830 .l-s{padding:0 10px!important;}
	.banner_title{font-size:30px!important;line-height:40px!important;letter-spacing:1px;}
	.private_page_Content{font-size:14px;padding:0 20px;text-align:justify;}
	.private_page_Content br{display:none;}
	.private_page_Content strong{font-weight:normal!important;}
	.private_page_thin_content{font-size:17px;padding:0 20px;}
	.heading_bottom{font-size:18px;padding-left:20px;padding-right:20px;}
	.heading_bottom:after{width:60%;left: 0;right: 0;margin: 0 auto;}
	.private_numbers{font-size: 35px;    border: 1px solid #bed531;   letter-spacing: 1px;    width: 70px;    line-height: 62px;    height: 70px;}
	.number_heading{font-size:20px;line-height:21px;font-weight:normal!important;}
	.number_heading br{display:none;}
	.number_heading_main{margin:25px!important;}
	.bracket_content{font-size:18px;font-weight: lighter;}
	.row_width {width: 100%;}
	.time_content{font-family: 'Open Sans', sans-serif !important;font-size:16px;margin:0;}
	.time_subcontent{font-family: 'Open Sans', sans-serif !important;font-weight:lighter;line-height: 20px;padding-bottom:10px;font-size:13px;}
	.point{width:50%;padding-left:0;text-align:left;font-size:80px;line-height:40px;margin-top:30px;padding-left:20px;margin-bottom:30px!important;}
	.time{width:50%;margin-top:0px;text-align:right;}
	.time img{width:130px;}
	.point_span{font-weight: lighter;font-size:25px;}
	.cost_content{font-size:14px;padding:0 20px;}
	.form_head{font-size: 18px!important; line-height:35px; color: #bdd531;    text-align: center;    letter-spacing: 0px;    font-weight: 500;}
	.label_Width{padding:0 20px;}
	.private_function input[type="text"], .private_function input[type="email"], .private_function input[type="url"], .private_function input[type="password"], .private_function input[type="search"], .private_function input[type="number"], .private_function input[type="tel"], .private_function input[type="range"], .private_function input[type="date"], .private_function input[type="month"], .private_function input[type="week"], .private_function input[type="time"], .private_function input[type="datetime"], .private_function input[type="datetime-local"], .private_function input[type="color"], .private_function textarea {
    width:100%!important;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    FONT-SIZE: 15px!IMPORTANT;
}
	.private_function input[type="submit"] {margin-right:0!important;margin-top:0;padding: 10px 40px !important;}
	.page-id-1830 #drive_page {
    background: no-repeat;
    background-size: cover!important;
}
}
/*
@media only screen and (max-width: 400px) and (min-width: 320px){
.tp-parallax-wrap.sing-btn {
    left: 32% !important;
}
#slide-1-layer-9 {
    font-size: 16px !important;
	line-height: 20px !important;
}
#slide-9-layer-9 {
    font-size: 16px !important;
	line-height: 20px !important;
}
#slide-7-layer-9 {
    font-size: 16px !important;
	line-height: 20px !important;
}
.tp-parallax-wrap.luxary-book {
	left: 8% !important;
}
.tp-parallax-wrap.airport-book {
    left: 10% !important;
}
button#responsive-menu-button {
    width: 45px !important;
    height: 45px !important;
}
}*/

input[type="number"] {
	FONT-SIZE: 10PT!IMPORTANT;
	    font-family: 'Open Sans' !important;

}

input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
		FONT-SIZE: 11PT!IMPORTANT;
}
div.wpcf7-mail-sent-ok,div.wpcf7-validation-errors{color: #fff !important;}
.page-id-1830 div.wpcf7-mail-sent-ok,div.wpcf7-validation-errors {color:#052336!important;}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
@media only screen and (max-width: 767px){
	.mr-t{height: auto !important;}
	.form-drive.cv{margin-top: 0px;}
	.book-heading {
    width: 80% !important;
}
	.vc_custom_1582965846603 {
    padding-top: 50px !important;
}
		#colophon{
		padding: 60px 30px 0 30px!important;
	}
	#text-3 .footer-form{
		width: 95%!important;
    margin: 0 auto;
	}
	.airport-point_btn a{line-height: 60px;}
	.submit_btn .wpcf7-submit{font-size: 22px !important;}
	.booking_form_row{width: 92%; margin: 10px auto;}
	.booking_form_left, .booking_form_right, .page-id-848 label,.booking_form_row input, .booking_form_row select,.booking_form_row.left-label input, span.wpcf7-form-control-wrap.countrycode,span.wpcf7-form-control-wrap.phonenumber{width: 100%;}
	.booking_form_row select{height: 35px;}
	.vc_custom_1597994154214{padding-right: 30px !Important;padding-left: 30px !Important;}
	.p-30 h2.p-font{font-size: 30px !important;}
	.sedan-col .vc_custom_1582965846603 h2.fillin-heading{line-height: 35px !important;}
	.sedan-col{padding-left: 30px !Important;padding-right: 30px !Important;}
	.booking_form_full label{line-height: 20px;}
	.booking_btn .wpcf7-submit{width: 100%;font-size: 26px;}
	.vc_custom_1594735738768{font-size: 30.44px !important;}
	#for_re_padding .vc_column-inner{padding-right: 30px !important;padding-left: 30px !important;}
	.l-sec, .r-sec{width: 100% !important;}
	#label_id {margin-bottom: 10px !important;}
	.p-font{font-size: 38px  !important;}
	.collection-point p, .trips{padding: 0px 5px;}
	.fillin-heading{line-height: 30px !important;}
}
@media only screen and (max-width: 350px){
	#text-4 a {
    font-size: 12px !important;
}
	#text-4 li {
    font-size: 14px !important;
}
	.label-sec label, .span-sec p{width: 100%;}
	.p-font{font-size: 30px  !important;}
}

book-heading padding-bottom2 {
	PADDING: 0!IMPORTANT;
}

water.label {
	width: 400px!important;
}
.mr-t {
    margin-top: 0;
	height: 145px;
}
.mr-t span.wpcf7-radio{display: flex;}
/* #book-background-img{left: 0px !important;}*/
.page-id-1751 .main_container{max-width: 100% !important;margin: 0px;} 
span.invalid-password{font-size: 12px !important;
    line-height: 14px;
    position: relative;
    clear: both;
    float: left;
    font-family: 'Open Sans' !important;
color: #f00;
    font-weight: normal;
}
}
@media only screen and (max-width: 767px){
	.label-sec label{width: 100% !important;}
	#for_re_padding .wpb_wrapper{width: 100% !important;}
}
input{
	width: 100% !important;
}


//kim



#on-roadtrip-classic-content {
	margin-left: 40px;
		margin-right: 40px;
}
#once-off-joining-content {
	margin-left: 40px;
		margin-right: 40px;
}

#classic-deluxe-section {
	margin-left: 40px!important;
		margin-right: 40px!important;
}

#choose-package-heading  {
text-align: center!important;
}

.vc_custom_heading.choose-text {
text-align: center!important;
}

@media only screen and (max-width:360px){
.page-id-1830 .fill_out{font-size:17px!important;letter-spacing:0px;line-height:35px!important;padding:0 5px!important;}
	.page-id-1830 .fill_out br{display:none;}
	.page-id-1830 .l-s{padding:0 10px!important;}
	.banner_title{font-size:30px!important;line-height:40px!important;letter-spacing:1px;}
	.private_page_Content{font-size:14px;padding:0 20px;text-align:justify;}
	.private_page_Content br{display:none;}
	.private_page_Content strong{font-weight:normal!important;}
	.private_page_thin_content{font-size:17px;padding:0 20px;}
	.heading_bottom{font-size:18px;padding-left:20px;padding-right:20px;}
	.heading_bottom:after{width:60%;left: 0;right: 0;margin: 0 auto;}
	.private_numbers{font-size: 35px;    border: 1px solid #bed531;   letter-spacing: 1px;    width: 70px;    line-height: 62px;    height: 70px;}
	.number_heading{font-size:20px;line-height:21px;font-weight:normal!important;}
	.number_heading br{display:none;}
	.number_heading_main{margin:25px!important;}
	.bracket_content{font-size:18px;font-weight: lighter;}
	.row_width {width: 100%;}
	.time_content{font-family: 'Open Sans', sans-serif !important;font-size:16px;margin:0;}
	.time_subcontent{font-family: 'Open Sans', sans-serif !important;font-weight:lighter;line-height: 20px;padding-bottom:10px;font-size:13px;}
	.point{width:50%;padding-left:0;text-align:left;font-size:80px;line-height:40px;margin-top:30px;padding-left:20px;margin-bottom:30px!important;}
	.time{width:50%;margin-top:0px;text-align:right;}
	.time img{width:130px;}
	.point_span{font-weight: lighter;font-size:25px;}
	.cost_content{font-size:14px;padding:0 20px;}
	.form_head{font-size: 18px!important; line-height:35px; color: #bdd531;    text-align: center;    letter-spacing: 0px;    font-weight: 500;}
	.label_Width{padding:0 20px;}
	.private_function input[type="text"], .private_function input[type="email"], .private_function input[type="url"], .private_function input[type="password"], .private_function input[type="search"], .private_function input[type="number"], .private_function input[type="tel"], .private_function input[type="range"], .private_function input[type="date"], .private_function input[type="month"], .private_function input[type="week"], .private_function input[type="time"], .private_function input[type="datetime"], .private_function input[type="datetime-local"], .private_function input[type="color"], .private_function textarea {
    width:100%!important;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    FONT-SIZE: 15px!IMPORTANT;
}
	.private_function input[type="submit"] {margin-right:0!important;margin-top:0;padding: 10px 40px !important;}
	.page-id-1830 #drive_page {
    background: no-repeat;
    background-size: cover!important;
}}
	
.containe a.clicktoview{font-size:12px !important; position: relative; text-decoration: underline !important; top: -18px;}
.choose-pack .checkbox label {
    padding-bottom: 20px !important; 
    MARGIN-BOTTOM: 0PX !important; 
}
.submit_btn{background: #bdd531 !important;}