/*
Theme Name:   twentyseventeen child theme
Description:  Write here a brief description about your child-theme
Author:       roadtrip
Author URL:   Write here the author's blog or website url
Template:     twentyseventeen
Version:      1.0
License:      GNU General Public License v2 or later
License URI:  http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:  twentyseventeen-child
*/

/* Write here your own personal stylesheet */
@import url(//db.onlinewebfonts.com/c/a66cb603087c3d635836b1e7829a912e?family=TrendSansW00-One);
@font-face {font-family: "TrendSansW00-One"; src: url("//db.onlinewebfonts.com/t/a66cb603087c3d635836b1e7829a912e.eot"); src: url("//db.onlinewebfonts.com/t/a66cb603087c3d635836b1e7829a912e.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/a66cb603087c3d635836b1e7829a912e.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/a66cb603087c3d635836b1e7829a912e.woff") format("woff"), url("//db.onlinewebfonts.com/t/a66cb603087c3d635836b1e7829a912e.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/a66cb603087c3d635836b1e7829a912e.svg#TrendSansW00-One") format("svg"); }
body{font-family: "TrendSansW00-One";}
.custom-header{width: 15%; float: left;}
.site-header{ height: 195px; width: 100%; background-color: #1c444d; padding: 56px 80px 56px 100px;}
.set-width{padding: 0px; margin-bottom: 0px !important;}
.set-width .wrap{padding: 0px; margin: 0px;}
.navigation-top{top: 0px; left: 15%; width: 60%; background: transparent; border: none; position: absolute !important;}
.text-area{width: 25%; float: right;}
.main-navigation a{font-weight: 400; font-size: 21px; color: #bdd531; padding: 0px 40px !important; letter-spacing: 0.049em;}
.main-navigation li{line-height: 195px;}
.navigation-top .wrap{padding: 0; margin: 0;}
#top-menu{text-align: center;}
.text-area h1{
	font-size: 11.37px;
	color: #bed530;
	font-weight: 400;
	margin-bottom: 0;
	line-height: 80px;
}